.caixa_cadastro {
    background: white;
    width: 400px;
    height: 450px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.caixa_cadastro h1 {
    font-size: 30px;
}
.cadastro{
display: flex;
flex-direction: column;
width: 200px;
}

.cadastro button{
margin-top: 10px;
background:rgb(223, 62, 62);
color: aliceblue;
padding: 10px 15px;
border: none;
border-radius: 10px ;
width: 120px;
align-self: center;

}

.cadastro input{
    padding: 10px 15px;
    text-align: center;
    border: 2px solid  black;
    border-radius: 10px;
    font-size: 20px;
   
}

.banner .container{
    height: 550px;
    display: flex;
    justify-content:center;
    align-items:center;
    
    }

.cadastro span{
font-size: 10px;

}
.header ul #aqui{
    font-weight: 1000;
    color: aqua;
    
}
a{
    text-decoration:none ;
    color:#e3b062

}